<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Kanji Cards</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List of Kanji</a>
      </li>
      <li>
        <a class="nav-link" href="#">Your Cards</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter Kanji By Grade
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Grade 1</a>
          <a class="dropdown-item" href="#">Grade 2</a>
          <a class="dropdown-item" href="#">Grade 3</a>
          <a class="dropdown-item" href="#">Grade 4</a>
          <a class="dropdown-item" href="#">Grade 5</a>
          <a class="dropdown-item" href="#">Grade 6</a>
          <a class="dropdown-item" href="#">Grade 7</a>
          <a class="dropdown-item" href="#">Grade 8</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <Input @value={{this.query}} class="form-control mr-sm-2"/>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>